{{!< default }}{{#foreach posts}}
<article class="post" itemscope="" itemtype="//schema.org/Article" role="article">
  <header class="post__header">
    <time class="post__date text--muted" itemprop="datePublished">{{ date format="dddd DD MMM YYYY" }}</time>
    <h1 class="post__title" itemprop="headline">
      <a href="{{{ url }}}" rel="bookmark" title="Click to read: &#39;{{ title }}&#39;">{{ title }}</a>
    </h1>
  </header>
  <section class="post__content" itemprop="articleBody">
    {{ excerpt }}...<a href="{{{ url }}}" rel="bookmark" title="Click to read: &#39;{{ title }}&#39;"> Read more</a>
  </section>
  <footer class="post__footer"></footer>
</article>
{{/foreach}}
<div class="blog__pagination">
  {{#if pagination}}
  {{ pagination }}{{/if}}
</div>
